@import "src/styles/colors"
.header
  width: 308px
  height: 100vh
  background-color: white
  display: flex
  flex-direction: column
  justify-content: center

.navLinkLeft
  display: flex
  flex-direction: column


.link
  width: 308px
  height: 59px
  padding: 10px 70px
  display: flex
  justify-content: center
  align-items: center
  gap: 15px

  font-family: 'Raleway', serif
  font-size: 30px
  line-height: 130%
  color: $c-black-25


.linkActive
  background-color: $c-blue-E1

