.inputReg
  width: 420px
  height: 52px
  border: 2px solid #D9D9D9
  border-radius: 100px
  padding-left: 60px
  padding-top: 8px

.inputReg::placeholder
  font-family: 'Raleway', serif
  font-size: 25px
  line-height: 150%
  color: #ABABAB