@import "src/styles/colors"

.wrapper1
  width: 90%
  height: 500px
  background: white
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.25)
  border-radius: 15px
  border: 1px solid $c-black-25
  margin: 50px 47px 0 47px
  overflow-y: scroll

table
  width: 100%

th, td
  text-align: center
  padding: 16px
  font-family: 'Raleway', serif
  font-size: 25px
  line-height: 130%
  color: $c-black-25